@media (max-width: 1300px) {
   
}

@media (min-width: 769px) and (max-width: 1300px) {
    
}

@media (max-width: 1300px) {
     .informations {
        display: initial !important;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
     .informations {
        display: flex !important;
    }
}
.infoBox{
    position: sticky;
    top: 10px;
}
nav{
    position: initial!important;
    z-index: 1000;
}
.informations .infoBox {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 15px;
border-radius: 15px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.informations .infoBox img {
cursor: pointer;
}

.informations .infoBox h3 {
margin-bottom: 0;
display: flex;
justify-content: center;
align-items: center;
}

.informations .infoBox {
background: rgb(255, 255, 255);
-webkit-backdrop-filter: blur(12px);
backdrop-filter: blur(12px);
}

.informations .infoBox .imgCon img {
width: 150px;
}

.informations .infoBox .nameCon {
display: flex;
justify-content: center;
align-items: center;
}

.informations .infoBox .nameCon img {
width: 25px;
}

.informations .infoBox .nameCon h3 {
font-size: 40px;
}

.informations .infoBox .infoCon {
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
width: 100%;
}

.informations .infoBox .infoCon img {
width: 25px;
}

.informations .infoBox .infoCon .mail,
.informations .infoBox .infoCon .Bio ,
.informations .infoBox .infoCon .Password,
.informations .infoBox .infoCon .gender,
.informations .infoBox .infoCon .age,
.informations .infoBox .infoCon .jop {
display: flex;
justify-content: flex-start;
align-items: center;
gap: 5px;
color: rgb(0, 0, 0);

}

.informations .infoBox .infoCon .mail h3.lable,
.informations .infoBox .infoCon .Bio h3.lable,
.informations .infoBox .infoCon .Password h3.lable,
.informations .infoBox .infoCon .gender h3.lable,
.informations .infoBox .infoCon .age h3.lable,
.informations .infoBox .infoCon .jop h3.lable {
font-weight: 300;
font-size: 20px;
width: -webkit-fill-available;
display: flex;
justify-content: flex-start;
}

 .book .infoCon .mail h3.lable,
 .book .infoCon .Bio h3.lable,
 .book .infoCon .Password h3.lable,
 .book .infoCon .gender h3.lable,
 .book .infoCon .age h3.lable,
 .book .infoCon .jop h3.lable {
    font-weight: 300;
    font-size: 20px;
    width: fit-content!important;
    display: flex;
    justify-content: flex-start;
}

.informations .infoBox .infoCon .mail h3.lable{
    width: initial;
    
}
.informations .infoBox .infoCon .Bio h3.lable{
    width: initial;
    width: 30%;
}
.informations .infoBox .infoCon .Bio h3.info{
    font-size: 15px;
}

.informations .infoBox .infoCon .mail h3.info,
.informations .infoBox .infoCon .Password h3.info,
.informations .infoBox .infoCon .gender h3.info,
.informations .infoBox .infoCon .age h3.info,
.informations .infoBox .infoCon .jop h3.info {
font-weight: 300;
font-size: 18px;
}

.informations {
width: 100%;
}

.informations aside {
width: 30%;
padding: 30px;
}



.informations section.main .container {
overflow-y: auto;
border-radius: 15px;
background: #757F9A;
/* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
/* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D7DDE8, #757F9A);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.informations section.main .container ul li button {
color: black;
}

.informations section.main .container .content .column {
margin-bottom: 15px;
}

.informations section.main .container .content img {
width: 100px;
}

.informations section.main .container .content h3 {
font-size: 23px;
}

.column .infoBox img{
    width: 50px!important;
}

.column .infoBox h5{
    background: #0052D4;
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
    color: white;
    border-radius: 50%;
    width:45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Admins .column .infoBox img{
    width: 100px!important;
    margin-bottom: 10px;
}

#Author img.auth,
#Books img{
    width: 100px!important;
    margin-bottom: 10px;
}
table{
    width: 100%;
}
.column .infoBox span.badge{
    top: 10px;
    right: 10px;
}
#authors .imgCon img{
    width: 100px!important;
}
#customers .imgCon img {
    width: 100px !important;
}
#books .imgCon img {
    width: 90px !important;
    margin-bottom: 1rem;
}

.modal input,
.modal select {
    border: 0;
    border-bottom: 2px solid black;
    color: black;
    width: 100%;
    padding: 5px;
}

.modal input::placeholder,
.modal select::placeholder {
    color: black;
}

.modal input:focus,
.modal select:focus {
    outline: none;
}

textarea{
    resize: none;
    width: 100%;
    height: 100%;
}

svg{
    width: 20px;
    transition: all 0.3s ease-in-out;
}

li.cart{
    cursor: pointer ;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    transition: all 0.3s ease-in-out;
}
li.cart:hover{
    background-color: rgb(88, 80, 246)!important;
}
li.cart:hover button{
    background-color: rgb(88, 80, 246) !important;
    color: white!important;
    svg{
        fill: white;
    }
}
li.cart button{
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    border: 0;
    transition: all 0.3s ease-in-out;
}

#staticBackdrop8 .modal-content{
    width: 650px!important;
}

.modal-content{
    z-index: 10000;
}

#staticBackdrop8 .modal-content .row .column{
margin-bottom: 1rem;
}

#staticBackdrop8 .modal-content .row .infoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: #757F9A;
        background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
        background: linear-gradient(to right, #D7DDE8, #757F9A);
        padding: 20px 5px;
        border-radius: 10px ;
        
}


@media (max-width: 1300px) {
    .informations aside {
        width: 100%;
        height: auto !important;
    }

    #staticBackdrop8 .modal-content {
        width: 300px !important;
        margin: auto;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    .informations aside {
        width: 30%;
        height: 100% !important;
    }
}

.informations section.main {
    width: 70%;
    padding: 30px;
    padding-bottom: 90px;
}

@media (max-width: 1300px) {
    .informations section.main {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    .informations section.main {
        width: 70% !important;
    }
}